# ---
# title: Gitignore for Owl Talk
# ---

# ---

# dia:begin gitignore/base.ignore

# --- Base ---

# macOS
._*
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
* [0-9]
* [0-9].*
* copy
* copy.*
*.nosync/
Icon[[]]

# Linux
.nfs*
*~

# Windows
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db

# Logs, temporary files, regenerable cache
*.bak
*.bak[0-9]*
*.bkp
*.log
*.swo
*.swp
*.tmp
log/
.log/
logs/
.logs/
tmp/
.tmp/
cache/
.cache/

# Local environment variables
.env
.env.*

# dia:end

# dia:begin gitignore/latex.ignore

# --- LaTeX ---

# Core latex/pdflatex auxiliary files
.*.lb
*.aux
*.cb
*.cb2
*.fls
*.fmt
*.fot
*.lof
*.log
*.lot
*.out
*.toc

# Generated if empty string is given at "Please type another file name for output:"
.dvi
.pdf
.ps

# Archaic output formats
*.dvi
*.ps

# Bibliography auxiliary files (bibtex/biblatex/biber)
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)

# Build directory
**/build/

# Beamer
*.nav
*.snm

# amsthm
*.thm

# glossaries
*.acn
*.acr
*.glg
*.glg-abr
*.glo
*.glo-abr
*.gls
*.gls-abr
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls

# makeidx
*.idx
*.ilg
*.ind

# dia:end
